{% extends '/design/admin/header.html.twig' %}
{% block body %}
<!-- Main content -->
<div class="content">
	<!-- Page header -->
	<div class="page-header page-header-default">
		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span></h4>
			</div>
			<a class="heading-elements-toggle"><i class="icon-more"></i></a>
		</div>
		<div class="breadcrumb-line">
			<ul class="breadcrumb">
				<li class="active"><i class="icon-home2 position-left"></i> Home</li>
			</ul>
			<a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
		</div>
	</div>
	<!-- /page header -->
	<!-- Content area -->

	<!-- Daily financials -->
	<div class="panel panel-flat">
		<div class="panel-heading">
			<h6 class="panel-title">New Images</h6>
			<a class="heading-elements-toggle">
				<i class="icon-more"></i>
			</a>
		</div>
		<div class="panel-body">
			<div class="row">
				{% for row in photos %}
				<div class="col-lg-3 col-sm-6">
					<div class="thumbnail">
						<div class="thumb">
							<img src="{{row.image}}">
							<div class="caption-overflow">
								<span>
									<a href="#" data-popup="lightbox" rel="gallery" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-plus3"></i></a>
									<a href="/photo/{{row.id}}" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-link2"></i></a>
								</span>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<!-- /daily financials -->
		</div>
	</div>

		<div class="table-responsive">
			<table class="table text-nowrap">
				<thead>
					<tr>
						<th style="width: 50px">Due</th>
						<th style="width: 300px;">User</th>
						<th>Description</th>
						<th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr class="active border-double">
						<td colspan="3">Active tickets</td>
						<td class="text-right">
							<span class="badge bg-blue">24</span>
						</td>
					</tr>

					<tr>
						<td class="text-center">
							<h6 class="no-margin">12 <small class="display-block text-size-small no-margin">hours</small></h6>
						</td>
						<td>
							<div class="media-left media-middle">
								<a href="#" class="btn bg-teal-400 btn-rounded btn-icon btn-xs">
									<span class="letter-icon">A</span>
								</a>
							</div>

							<div class="media-body">
								<a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Annabelle Doney</a>
								<div class="text-muted text-size-small"><span class="status-mark border-blue position-left"></span> Active</div>
							</div>
						</td>
						<td>
							<a href="#" class="text-default display-inline-block">
								<span class="text-semibold">[#1183] Workaround for OS X selects printing bug</span>
								<span class="display-block text-muted">Chrome fixed the bug several versions ago, thus rendering this...</span>
							</a>
						</td>
						<td class="text-center">
							<ul class="icons-list">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i></a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#"><i class="icon-undo"></i> Quick reply</a></li>
										<li><a href="#"><i class="icon-history"></i> Full history</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="icon-checkmark3 text-success"></i> Resolve issue</a></li>
										<li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
									</ul>
								</li>
							</ul>
						</td>
					</tr>

					<tr>
						<td class="text-center">
							<h6 class="no-margin">16 <small class="display-block text-size-small no-margin">hours</small></h6>
						</td>
						<td>
							<div class="media-left media-middle">
								<a href="#"><img src="assets/images/demo/users/face15.jpg" class="img-circle img-xs" alt=""></a>
							</div>

							<div class="media-body">
								<a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Chris Macintyre</a>
								<div class="text-muted text-size-small"><span class="status-mark border-blue position-left"></span> Active</div>
							</div>
						</td>
						<td>
							<a href="#" class="text-default display-inline-block">
								<span class="text-semibold">[#1249] Vertically center carousel controls</span>
								<span class="display-block text-muted">Try any carousel control and reduce the screen width below...</span>
							</a>
						</td>
						<td class="text-center">
							<ul class="icons-list">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#"><i class="icon-undo"></i> Quick reply</a></li>
										<li><a href="#"><i class="icon-history"></i> Full history</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="icon-checkmark3 text-success"></i> Resolve issue</a></li>
										<li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
									</ul>
								</li>
							</ul>
						</td>
					</tr>

					<tr>
						<td class="text-center">
							<h6 class="no-margin">20 <small class="display-block text-size-small no-margin">hours</small></h6>
						</td>
						<td>
							<div class="media-left media-middle">
								<a href="#" class="btn bg-blue btn-rounded btn-icon btn-xs">
									<span class="letter-icon">R</span>
								</a>
							</div>

							<div class="media-body">
								<a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Robert Hauber</a>
								<div class="text-muted text-size-small"><span class="status-mark border-blue position-left"></span> Active</div>
							</div>
						</td>
						<td>
							<a href="#" class="text-default display-inline-block">
								<span class="text-semibold">[#1254] Inaccurate small pagination height</span>
								<span class="display-block text-muted">The height of pagination elements is not consistent with...</span>
							</a>
						</td>
						<td class="text-center">
							<ul class="icons-list">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#"><i class="icon-undo"></i> Quick reply</a></li>
										<li><a href="#"><i class="icon-history"></i> Full history</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="icon-checkmark3 text-success"></i> Resolve issue</a></li>
										<li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
									</ul>
								</li>
							</ul>
						</td>
					</tr>

					<tr>
						<td class="text-center">
							<h6 class="no-margin">40 <small class="display-block text-size-small no-margin">hours</small></h6>
						</td>
						<td>
							<div class="media-left media-middle">
								<a href="#" class="btn bg-warning-400 btn-rounded btn-icon btn-xs">
									<span class="letter-icon">D</span>
								</a>
							</div>

							<div class="media-body">
								<a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Dex Sponheim</a>
								<div class="text-muted text-size-small"><span class="status-mark border-blue position-left"></span> Active</div>
							</div>
						</td>
						<td>
							<a href="#" class="text-default display-inline-block">
								<span class="text-semibold">[#1184] Round grid column gutter operations</span>
								<span class="display-block text-muted">Left rounds up, right rounds down. should keep everything...</span>
							</a>
						</td>
						<td class="text-center">
							<ul class="icons-list">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#"><i class="icon-undo"></i> Quick reply</a></li>
										<li><a href="#"><i class="icon-history"></i> Full history</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="icon-checkmark3 text-success"></i> Resolve issue</a></li>
										<li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
									</ul>
								</li>
							</ul>
						</td>
					</tr>

					<tr class="active border-double">
						<td colspan="3">Resolved tickets</td>
						<td class="text-right">
							<span class="badge bg-success">42</span>
						</td>
					</tr>

					<tr>
						<td class="text-center">
							<i class="icon-checkmark3 text-success"></i>
						</td>
						<td>
							<div class="media-left media-middle">
								<a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs">
									<span class="letter-icon">A</span>
								</a>
							</div>

							<div class="media-body">
								<a href="#" class="display-inline-block text-default letter-icon-title">Alan Macedo</a>
								<div class="text-muted text-size-small"><span class="status-mark border-success position-left"></span> Resolved</div>
							</div>
						</td>
						<td>
							<a href="#" class="text-default display-inline-block">
								[#1046] Avoid some unnecessary HTML string
								<span class="display-block text-muted">Rather than building a string of HTML and then parsing it...</span>
							</a>
						</td>
						<td class="text-center">
							<ul class="icons-list">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#"><i class="icon-undo"></i> Quick reply</a></li>
										<li><a href="#"><i class="icon-history"></i> Full history</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="icon-plus3 text-blue"></i> Unresolve issue</a></li>
										<li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
									</ul>
								</li>
							</ul>
						</td>
					</tr>

					<tr>
						<td class="text-center">
							<i class="icon-checkmark3 text-success"></i>
						</td>
						<td>
							<div class="media-left media-middle">
								<a href="#" class="btn bg-pink-400 btn-rounded btn-icon btn-xs">
									<span class="letter-icon">B</span>
								</a>
							</div>

							<div class="media-body">
								<a href="#" class="display-inline-block text-default letter-icon-title">Brett Castellano</a>
								<div class="text-muted text-size-small"><span class="status-mark border-success position-left"></span> Resolved</div>
							</div>
						</td>
						<td>
							<a href="#" class="text-default display-inline-block">
								[#1038] Update json configuration
								<span class="display-block text-muted">The <code>files</code> property is necessary to override the files property...</span>
							</a>
						</td>
						<td class="text-center">
							<ul class="icons-list">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#"><i class="icon-undo"></i> Quick reply</a></li>
										<li><a href="#"><i class="icon-history"></i> Full history</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="icon-plus3 text-blue"></i> Unresolve issue</a></li>
										<li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
									</ul>
								</li>
							</ul>
						</td>
					</tr>

					<tr>
						<td class="text-center">
							<i class="icon-checkmark3 text-success"></i>
						</td>
						<td>
							<div class="media-left media-middle">
								<a href="#"><img src="assets/images/demo/users/face3.jpg" class="img-circle img-xs" alt=""></a>
							</div>

							<div class="media-body">
								<a href="#" class="display-inline-block text-default">Roxanne Forbes</a>
								<div class="text-muted text-size-small"><span class="status-mark border-success position-left"></span> Resolved</div>
							</div>
						</td>
						<td>
							<a href="#" class="text-default display-inline-block">
								[#1034] Tooltip multiple event
								<span class="display-block text-muted">Fix behavior when using tooltips and popovers that are...</span>
							</a>
						</td>
						<td class="text-center">
							<ul class="icons-list">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#"><i class="icon-undo"></i> Quick reply</a></li>
										<li><a href="#"><i class="icon-history"></i> Full history</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="icon-plus3 text-blue"></i> Unresolve issue</a></li>
										<li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
									</ul>
								</li>
							</ul>
						</td>
					</tr>

					<tr class="active border-double">
						<td colspan="3">Closed tickets</td>
						<td class="text-right">
							<span class="badge bg-danger">37</span>
						</td>
					</tr>

					<tr>
						<td class="text-center">
							<i class="icon-cross2 text-danger-400"></i>
						</td>
						<td>
							<div class="media-left media-middle">
								<a href="#"><img src="assets/images/demo/users/face8.jpg" class="img-circle img-xs" alt=""></a>
							</div>

							<div class="media-body">
								<a href="#" class="display-inline-block text-default">Mitchell Sitkin</a>
								<div class="text-muted text-size-small"><span class="status-mark border-danger position-left"></span> Closed</div>
							</div>
						</td>
						<td>
							<a href="#" class="text-default display-inline-block">
								[#1040] Account for static form controls in form group
								<span class="display-block text-muted">Resizes control label's font-size and account for the standard...</span>
							</a>
						</td>
						<td class="text-center">
							<ul class="icons-list">
								<li class="dropup">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#"><i class="icon-undo"></i> Quick reply</a></li>
										<li><a href="#"><i class="icon-history"></i> Full history</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="icon-reload-alt text-blue"></i> Reopen issue</a></li>
										<li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
									</ul>
								</li>
							</ul>
						</td>
					</tr>

					<tr>
						<td class="text-center">
							<i class="icon-cross2 text-danger"></i>
						</td>
						<td>
							<div class="media-left media-middle">
								<a href="#" class="btn bg-brown-400 btn-rounded btn-icon btn-xs">
									<span class="letter-icon">K</span>
								</a>
							</div>

							<div class="media-body">
								<a href="#" class="display-inline-block text-default letter-icon-title">Katleen Jensen</a>
								<div class="text-muted text-size-small"><span class="status-mark border-danger position-left"></span> Closed</div>
							</div>
						</td>
						<td>
							<a href="#" class="text-default display-inline-block">
								[#1038] Proper sizing of form control feedback
								<span class="display-block text-muted">Feedback icon sizing inside a larger/smaller form-group...</span>
							</a>
						</td>
						<td class="text-center">
							<ul class="icons-list">
								<li class="dropup">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#"><i class="icon-undo"></i> Quick reply</a></li>
										<li><a href="#"><i class="icon-history"></i> Full history</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="icon-plus3 text-blue"></i> Unresolve issue</a></li>
										<li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
									</ul>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<!-- /dashboard content -->
</div>
{% endblock %}
