{% extends '/design/admin/header.html.twig' %}
{% block body %}
<!-- Main content -->
<div class="content">
	<!-- Page header -->
	<div class="page-header page-header-default">
		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span></h4>
			</div>
			<a class="heading-elements-toggle"><i class="icon-more"></i></a>
		</div>
		<div class="breadcrumb-line">
			<ul class="breadcrumb">
				<li class="active"><i class="icon-home2 position-left"></i> Home</li>
			</ul>
			<a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
		</div>
	</div>
	<!-- /page header -->
	<!-- Content area -->
	<div class="content">
		<!-- Daily financials -->
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h6 class="panel-title">Content</h6>
				<a class="heading-elements-toggle">
					<i class="icon-more"></i>
				</a>
			</div>
			<div class="panel-body">

			</div>
			<!-- /daily financials -->
		</div>
	</div>
	<!-- /dashboard content -->
</div>
{% endblock %}
