<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Gallery - Admin area</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/css/admin/styles.css" rel="stylesheet" type="text/css">
	<link href="/css/admin/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/css/admin/core.css" rel="stylesheet" type="text/css">
	<link href="/css/admin/components.css" rel="stylesheet" type="text/css">
	<link href="/css/admin/colors.css" rel="stylesheet" type="text/css">
	<link href="/css/admin/octicons.css" rel="stylesheet" type="text/css">

	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="/js/admin/pace.min.js"></script>
	<script type="text/javascript" src="/js/admin/jquery.min.js"></script>
	<script type="text/javascript" src="/js/admin/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/admin/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="/js/admin/d3.min.js"></script>
	<script type="text/javascript" src="/js/admin/d3_tooltip.js"></script>
	<script type="text/javascript" src="/js/admin/switchery.min.js"></script>
	<script type="text/javascript" src="/js/admin/uniform.min.js"></script>
	<script type="text/javascript" src="/js/admin/bootstrap_multiselect.js"></script>
	<script type="text/javascript" src="/js/admin/moment.min.js"></script>
	<script type="text/javascript" src="/js/admin/daterangepicker.js"></script>
	<script type="text/javascript" src="/js/admin/app.js"></script>
	<script type="text/javascript" src="/js/admin/dashboard.js"></script>

	<!-- /theme JS files -->
</head>
<body class="login-container  pace-done">
	{% block body %}{% endblock %}
	<!-- Footer -->
	<div class="footer text-muted text-center">
	© {{"now"|date("Y")}}
	</div>
	<!-- /footer -->
</div>
<!-- /content area -->
</div>
<!-- /main content -->
</div>
<!-- /page content -->
</div>
<!-- /page container -->
</body>
</html>