{% extends 'base.html.twig' %}

{% block body %}

      <div class="container clearfix">
    <div class="people-list" id="people-list">
          <ul class="list">
   
        <li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
          <div class="about">

            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
        </li>
   
       </div>
{{dump(users[0][0])}}
{% for row in users %}
 <div class="chat" >
			<div class="chat-header clearfix" >
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

				<div class="chat-about">
					<div class="chat-with">Chat with </div>
					<div class="chat-num-messages">already 
					
					{{row[1]}}
					
					messages</div>
				</div>
				<i class="fa fa-star"></i>
			</div> <!-- end chat-header -->
{% endfor %}
{% endblock %}
